.username-title {
  color: var(--text);
}

.status {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 20px;
  left: 21px;
  border-radius: 100%;
  border: 2px solid var(--bg-500);
  display: none;
}

.status.online {
  display: block;
  background-color: var(--green);
}

.status.dnd {
  display: block;
  background-color: var(--red);
}

.pfp {
  object-fit: cover;
  background-color: var(--text);
  border-radius: 16px;
  width: 32px;
  height: 32px;
}

.user-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
