.users-panel {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-self: stretch;
  background-color: var(--bg-500);
}

.panel-header {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0px 4px;
  box-sizing: border-box;
  background-color: var(--bg-700);
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
  flex-grow: 1;
  overflow-y: auto;
}

.server-profile {
  padding: 8px;
}

.server-profile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4px 8px;
  background-color: var(--bg-700);
  border-radius: 4px;
}
