:root {
  font-family: 'Inter', sans-serif;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --bg-700: rgba(23, 24, 23, 1);
  --bg-500: rgba(34, 35, 34, 1);
  --bg-300: rgba(44, 45, 43, 1);
  --text: rgba(240, 232, 210, 1);
  --green: rgba(173, 193, 120, 1);
  --highlight: rgba(221, 229, 182, 1);
  --red: rgba(226, 108, 92, 1);
}

html,
body {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #00000005;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff10;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ffffff50;
}

p {
  margin: 0;
}